    .balance {
        font-size: 2rem;
        margin: 20px 0;
    }


    .modal.active {
        display: flex;
    }


    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    /* Transaction Cards */
    .transactions {
        margin-top: 30px;
    }
    .transactions-carousel {
        position: relative;
        overflow: hidden;
        width: 100%;
        max-width: 800px;
        margin: auto;
    }
    
    .carousel-container {
        display: flex;
        gap: 10px;
        transition: transform 0.3s ease;
        overflow-x: scroll;
        cursor: grab;
    }
    
    .transaction-card {
        flex: 0 0 calc(100% / 2 - 10px);
        border-radius: 29px;
        background: #2E2E2E;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    

    .transaction-details {
        text-align: left;
    }
    
    .transaction-amount {
        font-weight: bold;
        margin-top: 50px;
    }
    
    

    .carousel-container.dragging {
        cursor: grabbing;
    }

    .bottom-buttons {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        z-index: 1000;
    }
    
    .bottom-buttons .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .bottom-buttons .btn-add {
        background-color: #4CAF50;
        color: white;
    }
    
    .bottom-buttons .btn-remove {
        background-color: #f44336;
        color: white;
    }
    
    .bottom-buttons .btn-transfer {
        background-color: #2196F3;
        color: white;
    }
    
    .bottom-buttons .btn:hover {
        opacity: 0.8;
    }
    