    .balance {
        font-size: 2rem;
        margin: 20px 0;
    }


    .modal.active {
        display: flex;
    }


    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .total-balance {
        margin-top: -50px;
    }


    /* Transaction Cards */
    .transactions {
        margin-top: 30px;
    }
    .transactions-carousel {
        position: relative;
        overflow: hidden;
        width: 100%;
        max-width: 800px;
        margin: auto;
    }
    
    .carousel-container {
        display: flex;
        gap: 10px;
        transition: transform 0.3s ease;
        overflow-x: scroll;
        cursor: grab;
    }
    
    .transaction-card {
        flex: 0 0 calc(100% / 2 - 10px);
        border-radius: 29px;
        background: #2E2E2E;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    

    .transaction-details {
        text-align: left;
    }
    
    .transaction-amount {
        font-weight: bold;
        margin-top: 150px;
    }
    
    

    .carousel-container.dragging {
        cursor: grabbing;
    }

    .bottom-buttons {
        position: fixed;
        bottom: 120px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 50px;
        z-index: 1000;
    }

    
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        font-size: 32px;
        font-weight: bold;
        color: #ffffff;
        cursor: pointer;
      }
      
      .minus-button {
        border: 2px dashed #ffffff;
        background-color: transparent;
      }
      
      .plus-button {
        background-color: #ffffff;
        color: #000000;
        border: none;
      }
    
      .transaction-icon img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }
    