
/* Date Header */
.date-header {
    text-align: center;
    margin-top: 20px;
}

.go-to-current {
    margin-top: 10px;
    text-align: center;
}

.journaling-post-header {
    display: flex;
    gap: 75px;
}

/* Modal Styles */
textarea {
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.divided-journaling {
    border-bottom: 1px solid black;
    margin: 20px 0;
}


.post-content {
    white-space: normal; 
    overflow-wrap: break-word; 
    max-width: 100%; 
    overflow: hidden; 
}
pre {
    white-space: normal; 
    overflow: hidden;
    text-overflow: ellipsis; 
    word-wrap: break-word; 
}
/* Stats Section */
.stats-container {
    display: flex;
    justify-content: space-around; /* Spread out items on desktop */
    margin: 20px auto;
    max-width: 80%; /* Limit width for desktop */
    gap: 10px;
}

.stat-item {
    flex: 1;
    text-align: center;
}

.border-right-item {
    border-right: 2px solid black;
}

/* Post Styles */
.post-container {
    border-radius: 7px;
    padding: 20px;
    padding-bottom:300px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    margin: 20px auto; /* Center container on desktop */
    max-width: 800px; /* Restrict width on desktop */
}

.post-item {
    background-color: #363334;
    padding: 20px;
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}

.post-actions {
    display: flex;
    gap: 10px;
}

.post-section-information {
    margin: 30px 0;
}

/* Circle Button for Add Post */
.circle-button {
    width: 80px;
    height: 80px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    /* Center at the bottom middle */
    position: fixed;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
}

.plus-icon {
    font-size: 36px;
    color: #000;
}


/* Desktop-Specific Styles */
@media (min-width: 768px) {
    .carousel-container {
        margin: 60px 0; /* Add more margin for desktop */
    }

    .carousel-dates {
        gap: 60px; /* Wider spacing for desktop */
    }

    .date-button {
        width: 90px;
        height: 90px;
        font-size: 24px; /* Larger text for desktop */
    }

    .stats-container {
        max-width: 1000px;
        gap: 20px;
    }

    .post-container {
        max-width: 1000px; /* Wider posts container for desktop */
        padding: 30px;
    }

    .post-item {
        padding: 30px;
    }

    textarea {
        height: 150px; /* Increase height for better input area */
    }

    .modal-content {
        width: 50%;
    }
}
