section {
  margin: 0px 20px;
}
li {
  list-style-type: none;
}
:root {
  --background-color: #262324;
  --white: #EEEEEE;
}
  /* Use a more intuitive box-sizing model. */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Remove default margin */
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  /* Allow percentage-based heights in the application */
  html, body {
    height: 100%;
  }
  
  /* Typographic tweaks! Add accessible line-height and improve text rendering */
  body {
    color: var(--white);
    line-height: 1.5;
    background-color: var(--background-color);
    -webkit-font-smoothing: antialiased;
  }
  
  /* Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  
  /* Remove built-in form typography styles */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  
  /* Create a root stacking context */
  #root,
  #__next {
    isolation: isolate;
  }
  
  /* Make form elements easier to work with */
  button,
  input {
    border: 0;
    padding: 0;
    background: none;
  }
  
  /* Inherit box-sizing */
  html {
    box-sizing: border-box;
    font-size: 16px; /* Base font size */
  }
  
  /* Remove outline on focused elements (optional) */
  :focus {
    outline: none;
  }
  
  /* Headings for desktop/tablets */
  h1 {
    font-size: 45px;   }
  
  h2 {
    font-size: 40px;     }
  
  h3 {
    font-size: 30px; 
    font-weight: 100;  }
  
  h4 {
    font-size: 20px; 
  }
  
  h5 {
    font-size: 10px; 
  }
  
  
  /* Paragraphs and text */
  p,
  span,
  button,
  a,
  input,
  textarea,
  label {
    font-size: 1.2rem;   /* 16px */
    line-height: 1.6;
    font-weight: 400;
  }
  

  button {
    cursor: pointer;
  }
  /* Small text */
  small {
    font-size: 0.875rem; /* 14px */
  }
  
  /* Buttons and interactive elements */
  button,
  input[type="submit"],
  select {
    font-size: 1rem;  /* 16px */
    line-height: 1.5;
    padding: 0.5rem 1rem;
  }

  /* Optional: fine-tune line-height for large headings */
  h1, h2, h3 {
    line-height: 1.2;
  }

  /*Navbar styling*/
.icon {
  width: 54px;
  height: 54px;
  background-color: #222;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.user-icon > a > p {
  color: var(--white);
}

.icon::before {
  content: '';
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.select-user-icon {
  width:80px !important;
  height:80px !important;
}


.back-button::before {
  background-image: url('/static/images/icons/arrow-back.png');
}
.user-icon {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
    }

  .health-name-header {
      text-align: center;
  }


.header-page {
  text-align: center;
}

  /* General modal styling */

    .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    color: black;
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    border-radius: 5px;
    position: relative;
}

  .close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }



  /* Caroussal dates */
  .current-date-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.current-date-button:hover {
    background-color: #0056b3;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0; /* Increased spacing for desktop */
}

.carousel-dates {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 40px; /* Increased spacing for better visibility */
    width: 80%;
    padding: 20px 0; /* Padding to ensure items are not cut off */
}

.carousel-item {
    flex: 0 0 auto;
    text-align: center;
}
.date-button {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%; /* Make the button circular */
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
    width: 70px; /* Increased size for better visibility */
    height: 70px; /* Increased size for better visibility */
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: Arial, sans-serif;
    font-weight: bold;
    position: relative;
}



.date-button.active::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 50%;
    background: linear-gradient(135deg, #ff7eb3, #765df6);
    padding: 5px; /* Thickness of the gradient border */
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.date-button.active {
    background: linear-gradient(135deg, #ff7eb3, #765df6);
    color: white; /* For supported browsers with active gradient text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}