<nav class="bottom-navbar">
    <a href="/health" class="nav-item {% if request.path == '/health' %}active{% endif %}">
        <div class="nav-icon">
            <img src="/static/images/icons/activity.png" alt="Health">
        </div>
        <span>Health</span>
    </a>
    <a href="/journaling" class="nav-item {% if request.path == '/journaling' %}active{% endif %}">
        <div class="nav-icon">
            <img src="/static/images/icons/book.png" alt="Journaling">
        </div>
        <span>Journaling</span>
    </a>
    <a href="/calendar" class="nav-item {% if request.path == '/calendar' %}active{% endif %}">
        <div class="nav-icon">
            <img src="/static/images/icons/calendar.png" alt="calendar">
        </div>
        <span>Calendar</span>
    </a>
    <a href="/finance" class="nav-item {% if request.path == '/finance' %}active{% endif %}">
        <div class="nav-icon">
            <img src="/static/images/icons/dollar-sign.png" alt="Finance">
        </div>
        <span>Finance</span>
    </a>
</nav>

<style>
    
  .bottom-navbar {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #424242;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.nav-item {
    text-align: center;
    text-decoration: none;
    color: white;
    flex: 1;
}

.nav-item.active {
    color: #007BFF; /* Highlight active page */
}

.nav-icon img {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
    margin: 0 auto;
}



</style>