<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/food.css">
    <title>Monk - Health</title>
</head>
<body>

    <section>
    <!-- Add food -->
    <div class="moreFoodHeader">
        <div>
            <span class="subtitle">More food</span>
            <h1 class="title">Options</h1>
        </div>
        <div class="addFoodSection">
            <button class="add-button-food" id="addFoodBtn">+</button>
        </div>
    </div>
    <div class="filter-container">
        <!-- Search Bar -->
        <form id="searchForm" action="/health" method="GET">
            <div class="search-box">
                <input 
                    type="text" 
                    name="search" 
                    id="searchInput" 
                    placeholder="Search by title, ingredients" 
                    value="{{ request.args.get('search', '') }}" >
            </div>
        </form>
    
        <!-- Filter Button -->
        <button id="filterBtn" class="filter-button">Filters</button>
    </div>
    
    <!-- Filter Popup -->
    <div id="filterPopup" class="popup">
        <div class="popup-content">
            <span class="close-popup">&times;</span>
            <h3>Filter</h3>
            <form id="filterForm" action="/health" method="GET">
                <label>
                    <input type="radio" name="category" value="Recepten" {% if selected_category == 'Recepten' %}checked{% endif %}> Recepten
                </label>
                <label>
                    <input type="radio" name="category" value="Fruit" {% if selected_category == 'Fruit' %}checked{% endif %}> Fruit
                </label>
                <label>
                    <input type="radio" name="category" value="Vlees" {% if selected_category == 'Vlees' %}checked{% endif %}> Vlees
                </label>
                <label>
                    <input type="radio" name="category" value="Vis" {% if selected_category == 'Vis' %}checked{% endif %}> Vis
                </label>
                <label>
                    <input type="radio" name="category" value="Groenten" {% if selected_category == 'Groenten' %}checked{% endif %}> Groenten
                </label>
                <label>
                    <input type="radio" name="category" value="Koek" {% if selected_category == 'Koek' %}checked{% endif %}> Koek
                </label>
                <label>
                    <input type="radio" name="category" value="Snoep" {% if selected_category == 'Snoep' %}checked{% endif %}> Snoep
                </label>
                <label>
                    <input type="radio" name="category" value="Drankjes" {% if selected_category == 'Drankjes' %}checked{% endif %}> Drankjes
                </label>
                <label>
                    <input type="radio" name="category" value="Overig" {% if selected_category == 'Overig' %}checked{% endif %}> Overig
                </label>
                <label>
                    <input type="radio" name="category" value="" {% if selected_category == '' %}checked{% endif %}> All Categories
                </label>
                <button type="submit">Apply Filter</button>
            </form>
            
        </div>
    </div>



    <div id="foodModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form action="/health" method="POST" enctype="multipart/form-data">
                <label for="title">Titel:</label>
                <input type="text" id="title" name="title" required>
                
                <label for="description">Omschrijving / Recept:</label>
                <textarea id="description" name="description" required></textarea>
            

                <label for="category">Categorie:</label>
                    <select id="category" name="category" required>
                        <option value="Recepten">Recepten</option>
                        <option value="Fruit">Fruit</option>
                        <option value="Vlees">Vlees</option>
                        <option value="Vis">Vis</option>
                        <option value="Groenten">Groenten</option>
                        <option value="Koek">Koek</option>
                        <option value="Snoep">Snoep</option>
                        <option value="Drankjes">Drankjes</option>
                        <option value="Overig">Overig</option>
                    </select>

                
                <label for="kcal">KCal:</label>
                <input type="number" id="kcal" name="kcal" required>
                
                <label for="image">Foto:</label>
                <input type="file" id="image" name="image" accept="image/*">
                
                <button type="submit">Voeg toe</button>
            </form>
        </div>
    </div>

    <!-- Edit Modal -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form action="/edit_food" method="POST" enctype="multipart/form-data">
                <input type="hidden" id="edit-id" name="id">
                
                <label for="edit-title">Titel:</label>
                <input type="text" id="edit-title" name="title" required>
                
                <label for="edit-description">Omschrijving / Recep:</label>
                <textarea id="edit-description" name="description" required></textarea>
                
                <label for="edit-category">Categorie:</label>
                <select id="edit-category" name="category" required>
                    <option value="Recepten">Recepten</option>
                    <option value="Fruit">Fruit</option>
                    <option value="Vlees">Vlees</option>
                    <option value="Vis">Vis</option>
                    <option value="Groenten">Groenten</option>
                    <option value="Koek">Koek</option>
                    <option value="Snoep">Snoep</option>
                    <option value="Drankjes">Drankjes</option>
                    <option value="Overig">Overig</option>
                </select>
                
                <label for="edit-kcal">KCal:</label>
                <input type="number" id="edit-kcal" name="kcal" required>
                
                <label for="edit-image">Foto:</label>
                <input type="file" id="edit-image" name="image" accept="image/*">
                
                <button type="submit">Bewerk</button>
            </form>
        </div>
    </div>

    <div class="food-container">
        {% for food in food_items %}
        <div class="food-item">
            {% if food.image %}
            <img src="{{ food.image }}" alt="{{ food.title }}" class="food-image">
            {% endif %}
            <h3>{{ food.title }}</h3>
            <button class="edit-btn" data-id="{{ food.id }}" data-title="{{ food.title }}" data-description="{{ food.description }}" data-category="{{ food.category }}" data-kcal="{{ food.kcal }}" data-image="{{ food.image }}">Edit</button>
            <form action="/delete_food/{{ food.id }}" method="POST" style="display:inline;">
                <button type="submit" class="delete-btn">Verwijder</button>
            </form>
        </div>
        {% endfor %}
    </div>
    
        <!-- Pagination Controls -->
        <div class="pagination">
            <ul>
                {% for page_num in range(1, pagination.pages + 1) %}
                <li class="{% if page_num == pagination.page %}active{% endif %}">
                    <a href="{{ url_for('health', page=page_num, category=selected_category, search=search_query) }}">
                        {{ page_num }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

    
    </section>
    <script src="/static/js/modals/foodModal.js"></script>
    <script src="/static/js/foodFilter.js"></script>
</body>
</html>