<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/userSelect.css">
    <title>Select User</title>
</head>
<body>
    <div class="user-container">
        <img src="/static/images/logo/logo.png" alt="Logo monk mode">
        <p>Welcome back!</p>
        <div class="select-container">
            <div class="user-icon">
                <a href="{{ url_for('select_user', username='Illias') }}">
                    <div class="fingerprint"></div>
                    <p>Illias</p>
                </a>
            </div>
            <div class="user-icon">
                <a href="{{ url_for('select_user', username='Sam') }}">
                    <div class="fingerprint"></div>
                    <p>Sam</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
