<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/logo/favicon.png">
    <title>Monk - Quick Links</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/quick_links.css">
</head>
<body>
    <header>
        <h1>Welcome, {{ user }}</h1>
        <h2>Quick Links</h2>
    </header>
    <main>
        <ul>
            {% for link in links %}
                <li><a href="{{ link.url }}">{{ link.name }}</a></li>
            {% endfor %}
        </ul>

        <div class="faq-container">
            <div class="faq-item">
              <div class="faq-question">
                Tips voor betere slaap
                <span class="arrow">▶</span>
              </div>
              <div class="faq-answer">
                CodePen is an online code editor and learning environment for front-end development.
              </div>
            </div>
            <div class="faq-item">
              <div class="faq-question">
                Tips voor betere slaap
                <span class="arrow">▶</span>
              </div>
              <div class="faq-answer">
                You can create a Pen by signing up on CodePen and clicking the "New Pen" button.
              </div>
            </div>
            <div class="faq-item">
              <div class="faq-question">
                Tips voor betere slaap
                <span class="arrow">▶</span>
              </div>
              <div class="faq-answer">
                Yes, CodePen has a free tier with limited features. Pro accounts offer advanced features.
              </div>
            </div>
          </div>
    </main>
    {% include 'footer.html' %}
    <script src="/static/js/faq.js"></script>
</body>
</html>


